.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: constant(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-bottom: env(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-right);
}
